body{
    background-image: url("../images/amethyst4.png")
}
.card-body{
    f
}
#btnBlue{
    justify-content: space-between;
    height: 100px;
    width: 100px;
    padding: 4px;
    margin: 4px;
    background-image: url(../images/1x/crystal-bluemdpi.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#btnGreen{
    justify-content: space-between;
    height: 100px;
    width: 100px;
    padding: 4px;
    margin: 4px;
    background-image: url(../images/1x/crystal-greenmdpi.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#btnOrange{
    justify-content: space-between;
    height: 100px;
    width: 100px;
    padding: 4px;
    margin: 4px;
    background-image: url(../images/1x/crystal-orangemdpi.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#btnPurple{
    justify-content: space-between;
    height: 100px;
    width: 100px;
    padding: 4px;
    margin: 4px;
    background-image: url(../images/1x/crystal-purplemdpi.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.crystalButton{
    opacity: 0.5;
    }

.crystalButton:hover{
    opacity: 1.0;
    transform: scale(1.5, 1.5);
    }

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}

/* iPad 3 (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio : 2),
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (min-resolution: 192dpi) { 

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	
}

/* Retina displays ----------- */
@media  only screen 
and (-webkit-min-device-pixel-ratio : 2), 
only screen 
and (min-resolution: 192dpi) {

}

